header
{
    background-color: #092635;
    color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    h1
    {
        font-size: 62px;
        text-shadow: 2px 3px #1B4242;
    }

    .search_input_wrapper
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        button, select
        {
            box-shadow: 1px 3px 0px 0px  #9EC8B9;
            border: 1px solid black;
            cursor: pointer;

            &:focus
            {
                outline: none;
            }

        }

        .key_search_wrapper
        {
            display: flex;
            gap: 16px;
            
            input
            {
                width: 300px;
                box-shadow: inset 2px 4px 0px 0px #9EC8B9;
                border: none;
                padding-inline: 8px;

                &:focus
                {
                    outline: none;
                }
            }

            button
            {
                display: flex;
                align-items: center;
                padding: 8px 24px;
            }

            input, button
            {
                height: 30px;
            }
        }

        .all_button_wrapper
        {
            display: flex;
            gap: 8px;

            button {
                    display: flex;
                    align-items: center;
                    padding: 4px 10px;
                }
        }
    }
}